@charset "utf-8";
/* CSS Document */
/*
	this is the reset code
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******************************************************************************/

/*
	from here is our design 
	the above code is for reset every thing and start our design from scratch
*/

.container{
	width: auto;
	background: #B8F009;
}

.header{
	height: 100px;
	background: #7107D8;
}

.navbar{
	height: 50px;
	background: #F17577;
	align-content: center;
	text-align: center;
}

#menu{
	align-content: center;
	text-align: center;
}

#menu li{
	list-style-type: none;
	display: inline;
	margin-top: 20px;

}

#menu a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	padding: 10px;
	margin: 10px;
}

.userNameShown{
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	padding: 10px;
	margin: 10px;
	margin-top: 0px;
	display: block;
}

.userImageToShow{
	display: inline;
	float: right;
}

.searchForm{
	float: right;
	margin: 10px;
}

.sideBar1{
	float: left;
	width: 300px;
	background: #1BD40C;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
}


.home{
	background: #EBCC01;
}

.posts{
	align-content: center;
	background: #0848F4;
	border-width: 2px;
	border-radius: 10px;
	width: 900px;
	float: right;
	margin: 10px;
	padding: 10px;
}

.postImages{
	display: inline-block;
}




























